<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Airplane Modeling</h5>
          <p class="grey-text text-lighten-4">Some super cool text</a></br>
</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Projects</h5>
          <ul>
            <li><a class="white-text" href="http://itnig.net">itnig</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="http://twitter.com">Twitter</a></li>
            <li><a class="white-text" href="http://facebook.com">Facebook</a></li>
            <li><a class="white-text" href="http://instagram.com">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Airplane Modeling
      </div>
    </div>
  </footer>

